.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.table{
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;

}
