.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigationbar {
  width: 100%;
  position: sticky;
  top: 0;
}

.page {
  max-width: 1500px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin: 0 5px;
}

.red {
  color: rgb(201, 0, 0);
}