.popup{
	position: fixed;
  	width: 100%; 
  	height: 100%; 
  	overflow: auto;
}

.popupContent{
	padding: 16px;
	background-color: white;
  	margin: 5% auto 10% auto; 
  	width: 25%; 
  	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
	border: 1px solid #ccc;
}

.close {
	background: transparent;
	float: right;
}

.label {
	padding-top: 5px;
}

.input {
	width: 100%;
	padding-top:3px;
 	padding-bottom: 3px;
  	display: inline-block;
}

#emailMsg, #passwordMsg {
	font-size: 12px;
	color: red;
}

#login {
	width: 70px;
	margin-top: 10px;
	border: 0px;
	background: transparent;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	background-color: black;
	color: white;
}


