.popupContent{
	position: fixed;
	padding: 16px;
	background-color: white;
  	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
	border: 1px solid #ccc;
	margin-top: 50px;
	width: 300px;
}

.close {
	background: transparent;
	float: right;
}

.label {
	padding-top: 5px;
}

.input {
	width: 100%;
	padding-top:3px;
 	padding-bottom: 3px;
  	display: inline-block;
}

#nameMsg, #emailMsg, #passwordMsg {
	font-size: 12px;
	color: red;
}

#signup {
	width: 70px;
	margin-top: 10px;
	border: 0px;
	background: transparent;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	background-color: black;
	color: white;
}


