.search {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.searchButton {
    margin-left: 3px;
}

.searchbar {
    width: 250px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 0 10px;
    height: 38px;
}