.input {
	width: 100%;
	padding-top:3px;
 	padding-bottom: 3px;
  	display: inline-block;
}

#nameMsg, #emailMsg, #passwordMsg {
	font-size: 12px;
	color: red;
}

#success {
	font-size: 12px;
	color: green;
}

