.bookdisplay {
    display: flex;
}

.imgcontainer {
    width: 30%;
}

.infocontainer {
    width: 70%;
    padding-left: 50px;
    padding-top: 30px;
}

.description {
    margin-top: 30px;
}

.textbookimage {
    box-sizing: border-box;
    margin: 15px;
    padding: 5px;
    box-shadow: 0 5px 10px 3px rgb(199, 199, 199);
    max-width: 90%;
    height: auto;
    min-height: 330px;
}